:root {
  --cerulean: #007BA7;
  --cobalt: #0047AB;
  --select: #98B4D4;
  --envy: #5a0284;
  --red: red;
  /* --darker-red: #C10D0D; */
}

::selection {
  background: var(--select);
  color: black;
}

a {
  color: inherit;
  text-decoration: underline var(--red) 1px;
}

a:hover {
  color: color-mix(in srgb, black 85%, transparent);
}

strong {
  color: var(--envy);
  font-weight: bold;
  font-style: italic;
}

em {
  color: var(--cerulean);
  font-style: italic;
}

html {
  font-size: 62.5%;
  font-family: 'Iosevka Web';
}

header {
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

body {
  font-size: 1.6rem;
  color: black;
}

nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid black;
  font-size: 1.2rem;
}

.separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

.abstract {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: var(--red) solid 1px;
}
.abstract > p:first-child {
  margin-top: 0;
}
/* Publications */
.publication .series {
  font-weight: 600;
}
.publication .title {
  font-style: normal;
  font-weight: 600;
}
.publication .metadata .author.hg {
  font-weight: 500;
  font-style: italic;
}
.publication summary:hover {
  cursor: pointer;
  color: var(--cerulean);
} 

@media (max-width: 639px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 2rem 0;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  /* nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  } */
}
